<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
	<meta charset = "utf-8">
	<meta http-equiv = "X-UA-Compatible" content = "IE=edge">
	<title>PLNR</title>
	<meta name = "description" content = "A sample description">
	<meta name = "viewport" content = "width=device-width, initial-scale=1">

	<script type="text/javascript">
	  WebFontConfig = {
	    google: { families: [ 'Montserrat:400,700:latin' ] }
	  };
	  (function() {
	    var wf = document.createElement('script');
	    wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
	    wf.type = 'text/javascript';
	    wf.async = 'true';
	    var s = document.getElementsByTagName('script')[0];
	    s.parentNode.insertBefore(wf, s);
	  })(); </script>

	<link rel="stylesheet" href="/css/main.css">
</head>
<body>
		<!--[if lt IE 9]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please
			<a href = "http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
	<div id="loading" class="loading"></div>

	<script type="text/template" id="header__block--template">
			<div class="app-header__block">
				<h1 style="display:inline-block;margin: 0;margin-right: 14px;">PLNR</h1>
				<p style="display:inline-block;margin:0;">Plan your week, track your time.</p>
			</div>
	</script>
	<script type="text/template" id="date-selector__block--template">
			<div class="container">
				<h5 class="date-selector__today">
					<a href="#" class="date-selector__todaybtn">Today</a>
				</h5>
				<div class="date-selector__timeline">
					<div class="week-selector-timeline__block">
						<a href="#" class="btn week-selector-timeline--lastbtn">
							<img src="img/icon/icon-arrow_left.svg" alt="">
						</a>
						<h2 class="week-selector-timeline--heading"><%= startDate %> - <%= endDate %></h2>
						<a href="#" class="week-selector-timeline--nextbtn">
							<img src="img/icon/icon-arrow_right.svg" alt="">
						</a>
					</div>
				</div>
				<div class="date-selector__options">
					<a href="#" class="date-selector__optionbtn">
						<img src="/img/icon/icon-more-options.svg" alt="">
					</a>
				</div>
			</div>
	</script>



	<script type="text/template" id="app-cal-view__block-template">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="app-week-view__block">
							<div class="app-week-view__day-titles">
							</div>
							<div class="app-week-view__view-hours">
							</div>
							<div class="app-week-view__week-view">
							</div>
						</div>
					</div>
				</div>
			</div>
	</script>

	<script src="/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="/bower_components/jquery-ui/jquery-ui.min.js"></script>
	<script src="/bower_components/underscore/underscore-min.js"></script>
	<script src="/bower_components/backbone/backbone-min.js"></script>
	<script src="/bower_components/moment/moment.js"></script>


	<script src="/js/app.js"></script>

</body>
</html>
