<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
	<meta charset = "utf-8">
	<meta http-equiv = "X-UA-Compatible" content = "IE=edge">
	<title>PLNR</title>
	<meta name = "description" content = "A sample description">
	<meta name = "viewport" content = "width=device-width, initial-scale=1">

	<script type="text/javascript">
	  WebFontConfig = {
	    google: { families: [ 'Montserrat:400,700:latin' ] }
	  };
	  (function() {
	    var wf = document.createElement('script');
	    wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
	    wf.type = 'text/javascript';
	    wf.async = 'true';
	    var s = document.getElementsByTagName('script')[0];
	    s.parentNode.insertBefore(wf, s);
	  })(); </script>

	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/bower_components/animate.css/animate.css">
</head>
<body>
		<!--[if lt IE 9]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please
			<a href = "http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
	<div id="loading" class="loading"></div>
	<div id="PLNRAPP">
	<header id="app-header" class="header">
		<div class="app-header">
			<div class="container">
			<h1 style="display:inline-block;margin: 0;margin-right: 14px;">PLNR</h1>
			<p style="display:inline-block;margin:0;">Plan your week, track your time.</p>
			</div>
		</div>
	</header>
	<main class="app-cal-view">
		<div class="container">
			<div class="row">
				<div class="col-sm-12" id="app-cal-view">

				</div>
			</div>
		</div>
	</main>
	</div><!-- #PLNRAPP -->

	<script type="text/template" id="header--template">
			<div class="app-header">
				<h1 style="display:inline-block;margin: 0;margin-right: 14px;">PLNR</h1>
				<p style="display:inline-block;margin:0;">Plan your week, track your time.</p>
			</div>
	</script>
	<script type="text/template" id="date-selector--template">
			<div class="container">
			<div class="row">
			<div class="col-xs-3">
			</div>
			<div class="col-xs-6">
				<h5 class="date-selector__today">
					<a href="#" class="date-selector__todaybtn">Today</a>
				</h5>
				<div class="date-selector__timeline">
					<div class="week-selector-timeline">
						<a href="#" class="week-selector-timeline--lastbtn">
							<img src="img/icon/icon-arrow_left.svg" alt="">
						</a>
						<h2 class="week-selector-timeline--heading"><%= startDate %> - <%= endDate %></h2>
						<a href="#" class="week-selector-timeline--nextbtn">
							<img src="img/icon/icon-arrow_right.svg" alt="">
						</a>
					</div>
				</div>

			</div>
			<div class="col-xs-3">
				<button class="btn btn-primary sidebar-task-btn" id="sidebar-task">Task statistics</button>
			</div>
			</div>
			</div>
	</script>


<!--

 two ways to bring up this module
 	- a new task
 	- a edit task

 	base data
 		- module title : string
 		- module type : string

 	a new task comes with the following
 		- hour : 0 - 24
 		- day : format (YYYY-D-M)

 	a edit task comes with the following
 		- day : format (YYYY-D-M)
 		- startingHour : 0 - 24
 		- endingHour : 0 - 24
 		- projectTitle : string

 -->
	<script type="text/template" id="task-module--template">
		<form action="" class="task-module" id='task-module'>
			<header class="task-module__header">
				<div class="tm-header__module-title">

					<h5 class="tm-header__heading">
						<img class="icon" src="/img/icon/icon-add_box.svg" alt=""> <%= moduleTitle %>
					</h5>

				</div>
				<div class="tm-header__close">
					<button class="tm-header__closebtn">
						<img src="/img/icon/icon-cross.svg" alt="close">
					</button>
				</div>
			</header>

			<main class="task-module__body">

				<div class="tm-dates">
					<div class="tm-dates__link">
						<h6 class="tm-dates__start-data"> <%= moment(day,'YYYY-D-M').format('ddd, MMM D') %>  </h6>
						<div href="#" class="tm-dates__more">
							<input value="<%= moment(day, 'YYYY/D/M').format('YYYY-M-D') %>" type="hidden" class="datepicker" id="start-date" name="start-date" />
						</div>
					</div>

					<div class="tm-dates__link">
						<h6 class="tm-dates__end-data"><%= moment(day,'YYYY-D-M').format('ddd, MMM D') %></h6>
						<div class="tm-dates__more">
							<input value="<%= moment(day,'YYYY/D/M').format('YYYY-M-D') %>" type="hidden" class="datepicker" id="end-date" name="end-date" />
						</div>
					</div>
				</div>

				<div class="tm-times">
					<div class="tm-times__link tm-times__start">
						<label class="tm-times__label" for="start-time">Start Time</label>


						<div class="plnr-select">
							<%

								var startHour,
									startTimeOptions;

								if(moduleType == 'new'){
									var parseHour = parseInt(hour, 10);
									startHour =  Utility.toStdTime(parseHour, true);
									startTimeOptions = Utility.selectTimeOptions(parseHour);
								}else if(moduleType == 'edit'){
									startHour =  startingHour
									startTimeOptions = Utility.selectTimeOptions(0);
								}

							%>
							<a href="#" class="plnr-select__selected" data-value="<%= startHour %>">
								<span class="plnr-select__selected-text"> <%= startHour %> </span>
							</a>
							<div class="plnr-select-options">
								<ul class="plnr-select-options__wrapper">
									<%  _.each(startTimeOptions, function(option){  %>

										 	<li><a href="#" data-value="<%= option %>" class="plnr-select-options__option"> <%= option %> </a></li>

									<% }); %>
								</ul>
							</div>
						</div>


					</div>
					<div class="tm-times__link tm-times__end">
						<label class="tm-times__label" for="end-time">End Time</label>


						<div class="plnr-select">
							<%

								var endHour,
									endTimeOptions;

								if(moduleType == 'new'){
									var parseHour = parseInt(hour, 10) + 1;
									endHour =  Utility.toStdTime(parseHour, true);
									endTimeOptions = Utility.selectTimeOptions(parseHour);
								}else if(moduleType == 'edit'){
									endHour =  endingHour;
									endTimeOptions = Utility.selectTimeOptions(0);
								}

							%>
							<a href="#" class="plnr-select__selected" data-value="<%= endHour %>" >
								<span class="plnr-select__selected-text"><%= endHour %></span>
							</a>
							<div class="plnr-select-options">
								<ul class="plnr-select-options__wrapper">
									<%  _.each(endTimeOptions, function(option){  %>

										 	<li><a href="#" data-value="<%= option %>" class="plnr-select-options__option"> <%= option %> </a></li>

									<% }); %>
								</ul>
							</div>
						</div>


					</div>
				</div>
				<div class="tm-task">


					<div class="plnr-select">

							<%

								var startingTitle,
									extraClass = '';

								if(moduleType == 'new'){
									startingTitle = 'Select a Project';
								}else if(moduleType == 'edit'){
									startingTitle = projectTitle;
									extraClass = 'ignore-hover'
								}

							%>

						<a href="#" class="plnr-select__selected <%= extraClass %>" data-value="">
						<span class="plnr-select__selected-text"> <%= startingTitle %> </span> <span class="arrow">  </span>
						</a>

						<div class="tm-task-input">
							<input data-value="no-new-project" placeholder="Name of New Project" type="text" class="tm-task-input__input">
							<button class="tm-task-input__closebtn">
								<img src="/img/icon/icon-cross.svg" alt="close">
							</button>
						</div>

						<% if(moduleType == 'new'){ %>
						<div class="plnr-select-options">
							<ul class="plnr-select-options__wrapper">
							<li><a href="#" data-value="new-task" class="plnr-select-options__option"> Or Create New Task + </a></li>
							<% PLNR.Projects.forEach(function(project){ %>
								<li><a href="#" data-value="<%= project.get('id') %>" class="plnr-select-options__option"> <%= project.get('title') %> </a></li>
							<% }) %>
							</ul>
						</div>
						<%}%>


					</div>

				</div>
				<div class="tm-task-details">
					<ul class="tm-task-details__wrapper">
						<li class="tm-task-details__years">
							<h5 class="tm-task-detail__data">200 Hrs</h5>
							<span class="tm-task-details__label">Year</span>
						</li>
						<li class="tm-task-details__month">
							<h5 class="tm-task-detail__data">22 Hrs</h5>
							<span class="tm-task-details__label">Month</span>
						</li>
						<li class="tm-task-details__week">
							<h5 class="tm-task-detail__data">5 Hrs</h5>
							<span class="tm-task-details__label">Week</span>
						</li>
					</ul>
				</div>
			</main>
			<footer class="task-module__footer">
				<div class="tm-footer__error is-hidden">
					<div class="tm-footer__error-text animated shake">Error!</div>
				</div>
				<div class="tm-footer__cta">
					<% if(moduleType == 'new'){%>
					<button class="tm-footer__ctabtn"> Add 1 Hour</button>
					<%} else if(moduleType == 'edit') {%>
					<button class="tm-footer__savebtn"> Save </button>
					<button class="tm-footer__removebtn"> Remove </button>
					<%}%>
				</div>
			</footer>
		</form>
	</script>

	<script type="text/template" id="week-view-overlay__item--template">
			<div class="overlay-item" data-task-id="<%= id %>">
				<h6 class="overlay-item__title"> <%= title %> </h6>
				<h6 class="overlay-item__time"><%= amountOfTime %></h6>
				<small class="overlay-item__duration"><%= duration %></small>
			</div>
	</script>

	<script id="sidebar-tasks--template" type="text/template">
		<div class="sidebar-tasks__inner">
			<button id="close-btn" class="btn btn-primary">Close</button>
			<h1>Tasks this week</h1>
			<div class="sidebar-task__details">

			</div>
			<h1>Graph</h1>
			<div class="sidebar-task__graph">

			</div>
		</div>
	</script>



	<script src="/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="/bower_components/jquery-ui/jquery-ui.min.js"></script>
	<script src="/bower_components/underscore/underscore-min.js"></script>
	<script src="/bower_components/backbone/backbone-min.js"></script>
	<script src="/bower_components/backbone.localStorage/backbone.localStorage-min.js"></script>
	<script src="/bower_components/moment/moment.js"></script>


	<script src="/js/app.js"></script>

</body>
</html>
